# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/demo2.2/*.user
*.ipch
*.tlog
*.pdb
*.user
*.log
*.idb
*.ilk
*.vsidx
*.suo
*.db
*.opendb
*.recipe
*.db-shm
*.db-wal
*.iobj
*.ipdb
