[submodule "sim_demo/3rd_party/fparser"]
	path = sim_demo/3rd_party/fparser
	url = https://github.com/thliebig/fparser
[submodule "sim_demo/3rd_party/json"]
	path = sim_demo/3rd_party/json
	url = https://github.com/nlohmann/json
[submodule "sim_demo/3rd_party/fmtlog"]
	path = sim_demo/3rd_party/fmtlog
	url = https://github.com/MengRao/fmtlog
